# Ignore backend dependencies
venv/

# Ignore environment variables
.env
app.log

# Ignore python cache folders
/__pycache__/
__pycache__/
*.pyc

# Ignore logs files
logs/
*.log
*.log.*

# Ignore editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?